<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Azteca.Business.Contabilidad.My.MySettings.PixkuaConnectionString"
            connectionString="Data Source=192.168.111.142;Initial Catalog=Pixkua;Persist Security Info=True;User ID=sa;Password=rco"
            providerName="System.Data.SqlClient" />
        <add name="Azteca.Business.Contabilidad.My.MySettings.PixkuaConnectionString1"
            connectionString="Data Source=192.168.111.1;Initial Catalog=Pixkua;Persist Security Info=True;User ID=sa;Password=L0g1n@dm1nSql"
            providerName="System.Data.SqlClient" />
        <add name="Azteca.Business.Contabilidad.My.MySettings.PixkuaConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Pixkua;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Azteca.Business.Contabilidad.My.MySettings.PixkuaConnectionString3"
            connectionString="Data Source=192.168.111.123;Initial Catalog=Pixkua;User ID=sa;Password=rco"
            providerName="System.Data.SqlClient" />
        <add name="Azteca.Business.Contabilidad.My.MySettings.SQL2008R2_314978_pixkuaConnectionString"
            connectionString="Data Source=sql2k805.discountasp.net;Initial Catalog=SQL2008R2_314978_pixkua;User ID=SQL2008R2_314978_pixkua_user;Password=az718293"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FuncionesGeneralesFacBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="FuncionesGeneralesFacBinding1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IwcfRecepcion" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="wsTimbradoSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="wsTimbradoSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICancelaCFDBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WsEmisionTimbradoPortBinding" />
                <binding name="WsServiciosPortBinding" />
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://201.120.57.165:81/facturacion/wsdl/timbrev32.php"
                binding="basicHttpBinding" bindingConfiguration="FuncionesGeneralesFacBinding"
                contract="DigitalFactura.Timbrar.FuncionesGeneralesFacPortType"
                name="FuncionesGeneralesFacPort" />
            <endpoint address="http://201.120.57.165:81/facturacion/wsdl/timbre_cancela.php"
                binding="basicHttpBinding" bindingConfiguration="FuncionesGeneralesFacBinding1"
                contract="DigitalFactura.Cancelar.FuncionesGeneralesFacPortType"
                name="FuncionesGeneralesFacPort1" />
            <endpoint address="https://app.facturadorelectronico.com/pruebastimbradofe/timbrado.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsTimbradoSoap"
                contract="FacturadorElectronico.wsTimbradoSoap" name="wsTimbradoSoap" />
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRecepcion"
                contract="PAX.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion" />
            <endpoint address="https://cancelacion.facturaelectronica.sat.gob.mx/Cancelacion/CancelaCFDService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancelaCFDBinding"
                contract="SAT.ICancelaCFDBinding" name="BasicHttpBinding_ICancelaCFDBinding" />
            <endpoint address="http://wsprod1.facturehoy.com:80/CFDI/WsEmisionTimbrado"
                binding="basicHttpBinding" bindingConfiguration="WsEmisionTimbradoPortBinding"
                contract="Certus.Timbrado.WsEmisionTimbrado" name="WsEmisionTimbradoPort" />
            <endpoint address="http://wsprod1.facturehoy.com:80/CFDI/WsServicios"
                binding="basicHttpBinding" bindingConfiguration="WsServiciosPortBinding"
                contract="Certus.Servicios.WsServicios" name="WsServiciosPort" />
            <endpoint address="http://cfdi.azurewebsites.net/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="AztecaSoftwareCFDI.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
