<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UseRemoteCalls" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="IdServicio" value="2"/>
    <add key="UserPixkua" value="intolycont"/>
    <add key="PwdPixkua" value="654321"/>
    <add key="UserContPaq" value="intolycont"/>
    <add key="PwdContPaq" value="654123"/>
    <add key="CuentaAjustes" value="521-02-00016"/>    
    <add key="CuentaAjustesIdSeg" value="1"/>
    <add key="TimerMinutes" value="1"/>
  </appSettings>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>

            <provider type="Azteca.Kernel.RemotingServices.CompressionClientSinkProvider, Azteca.Kernel"/>

          </clientProviders>
        </channel>
      </channels>
      <client>
          <wellknown type="Azteca.Contabilidad.PolizaFacade, Azteca.Contabilidad" url="tcp://130.130.2.1:8097/PolizaFacade.rem"/>
      </client>
    </application>
  </system.runtime.remoting>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
