<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UseRemoteCalls" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=.;Initial Catalog=VentasCKlass;Integrated Security=SSPI" />
  </connectionStrings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http">
          <clientProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
            <provider type="Azteca.Kernel.RemotingServices.CompressionClientSinkProvider, Azteca.Kernel"/>
          </clientProviders>
        </channel>
      </channels>
      <client>
        <!--  *****************************  -->
        <!--  ***** FRAMEWORK *****  -->
        <!--  *****************************  -->
        <!-- KERNEL -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <!-- OBJETOS DE GENERAL -->
        <wellknown type="Azteca.Kernel.General.EstadoFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/EstadoFacade.rem" />
        <wellknown type="Azteca.Kernel.General.PersonaFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/PersonaFacade.rem" />
        <wellknown type="Azteca.Kernel.General.PoblacionFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/PoblacionFacade.rem" />
        <wellknown type="Azteca.Kernel.General.MunicipioFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/MunicipioFacade.rem" />
        <wellknown type="Azteca.Kernel.General.DateManagerFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/DateManagerFacade.rem" />
        <wellknown type="Azteca.Kernel.General.FormatManager, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/FormatManager.rem" />
        <wellknown type="Azteca.Kernel.General.FormatoTipoFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/FormatoTipoFacade.rem" />
        <wellknown type="Azteca.Kernel.General.PaisFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/PaisFacade.rem" />
        <wellknown type="Azteca.Kernel.General.AppEventLogFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/AppLogFacade.rem" />
        <!--OBJETOS PARA MANEJO DE MAIL-->
        <wellknown type="Azteca.Kernel.Mail.RemitenteFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/RemitenteFacade.rem" />
        <wellknown type="Azteca.Kernel.Mail.SMTPServerFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/SMTPServerFacade.rem" />
        <!-- OBJETOS DE SEGURIDAD -->
        <wellknown type="Azteca.Kernel.Security.EmpresaFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/EmpresaFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.FormaFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/FormaFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.GrupoFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/GrupoFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.ModuloFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/ModuloFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.PoliticaFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/PoliticaFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.ProcesoFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/ProcesoFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.PropiedadFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/PropiedadFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.SucursalFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/SucursalFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.UsuarioFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/UsuarioFacade.rem" />
        <!-- OBJETOS DE ESTRUCTURA DE NEGOCIO -->
        <wellknown type="Azteca.Kernel.BusinessStructure.WorkflowFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/WorkflowFacade.rem" />
        <wellknown type="Azteca.Kernel.BusinessStructure.TipoDocumentoFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/TipoDocumentoFacade.rem" />
        <wellknown type="Azteca.Kernel.BusinessStructure.StatusFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/StatusFacade.rem" />
        <wellknown type="Azteca.Kernel.Configuration.ConfigurationFacade, Azteca.Kernel" url="http://www.bodegapinturas.com/PixkuaServerJL/ConfigurationFacade.rem" />
        <!--  ***********************  -->
        <!--  ***** P I X K U A *****  -->
        <!--  ***********************  -->

        <!-- TESORERIA -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Tesoreria.BancoFacade, Azteca.Tesoreria" url="http://www.bodegapinturas.com/PixkuaServerJL/BancoFacade.rem"/>

        <!-- COMPRAS -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Compras.ProveedorFacade, Azteca.Compras" url="http://www.bodegapinturas.com/PixkuaServerJL/ProveedorFacade.rem" />
        <wellknown type="Azteca.Business.Compras.ComprobanteFiscalFacade, Azteca.Compras" url="http://www.bodegapinturas.com/PixkuaServerJL/ComprobanteFiscalFacade_Compras.rem" />
        <wellknown type="Azteca.Business.Compras.ZonaCompraFacade, Azteca.Compras" url="http://www.bodegapinturas.com/PixkuaServerJL/ZonaCompraFacade.rem" />

        <!-- CONTABILIDAD -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Contabilidad.AddendaFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/AddendaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.CertificadoFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/CertificadoFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ComprobanteFiscalFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/ComprobanteFiscalFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ContabilizadorDocumentosFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/ContabilizadorDocumentosFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.CuentaFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/CuentaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.DivisaFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/DivisaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.EntidadFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/EntidadFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ImporteFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/ImporteFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ImpuestoFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/ImpuestoFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.PolizaPerfilFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/PolizaPerfilFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.RACFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/RACFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.SerieFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/SerieFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.VistaContableFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/VistaContableFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.SATFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/SATFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.SucursalConfigFacade, Azteca.Contabilidad" url="http://www.bodegapinturas.com/PixkuaServerJL/SucursalContabilidadConfigFacade.rem" />
        <!-- CUSTOMIZE -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Customize.RemoteService, Azteca.Customize" url="http://www.bodegapinturas.com/PixkuaServerJL/RemoteService.rem" />
        <!-- INVENTARIO -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Inventario.AlmacenFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/AlmacenFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.AreaFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/AreaFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.ArticuloStockFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/ArticuloStockFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.ConceptoFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/ConceptoFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.TipoUnidadMedidaFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/TipoUnidadMedidaFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.TurnoFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/TurnoFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.UnidadMedidaFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/UnidadMedidaFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.MovimientoFacade, Azteca.Inventario" url="http://www.bodegapinturas.com/PixkuaServerJL/MovimientoFacade.rem" />
        <!-- VENTAS -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Ventas.ArticuloFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/ArticuloFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ClienteFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/ClienteFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.GrupoClasificacionesFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/ClasificacionesVentasFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.EstructuraComercialFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/EstructuraComercialFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.FormaPagoFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/FormaPagoFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.MetodoPagoFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/MetodoPagoFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.MarcaFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/MarcaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.RegionFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/RegionFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ServicioFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/ServicioFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.TipoVentaFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/TipoVentaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.UnidadNegocioFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/UnidadNegocioFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ZonaVentaFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/ZonaVentaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.VentaFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/VentaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.PresentacionFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/PresentacionFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.CajaFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/CajaVentasFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.VendedorFacade, Azteca.Ventas" url="http://www.bodegapinturas.com/PixkuaServerJL/VendedorFacade.rem" />
      </client>
    </application>
  </system.runtime.remoting>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DgieWSPort" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FuncionesGeneralesFacBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FuncionesGeneralesFacBinding1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IwcfRecepcion" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsTimbradoSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsTimbradoSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.banxico.org.mx:80/DgieWSWeb/DgieWS" binding="basicHttpBinding" bindingConfiguration="DgieWSPort" contract="Banxico.DgieWSPort" name="DgieWSPort" />
      <endpoint address="http://201.120.57.165:81/facturacion/wsdl/timbrev32.php" binding="basicHttpBinding" bindingConfiguration="FuncionesGeneralesFacBinding" contract="DigitalFactura.Timbrar.FuncionesGeneralesFacPortType" name="FuncionesGeneralesFacPort" />
      <endpoint address="http://201.120.57.165:81/facturacion/wsdl/timbre_cancela.php" binding="basicHttpBinding" bindingConfiguration="FuncionesGeneralesFacBinding1" contract="DigitalFactura.Cancelar.FuncionesGeneralesFacPortType" name="FuncionesGeneralesFacPort1" />
      <endpoint address="https://cfdi.facturadorelectronico.com/wstimbrado/timbrado.asmx" binding="basicHttpBinding" bindingConfiguration="wsTimbradoSoap"  contract="FacturadorElectronico.wsTimbradoSoap" name="wsTimbradoSoap" />
      <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc/secure" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRecepcion" contract="PAX.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion" />
      <endpoint address="http://cfdi.aztecasoftware.mx/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AztecaSoftwareCFDI.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>