<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UseRemoteCalls" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=.;Initial Catalog=VentasCKlass;Integrated Security=SSPI" />
  </connectionStrings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <provider type="Azteca.Kernel.RemotingServices.CompressionClientSinkProvider, Azteca.Kernel"/>
          </clientProviders>
        </channel>
      </channels>
      <client>
        <!--  *****************************  -->
        <!--  ***** FRAMEWORK *****  -->
        <!--  *****************************  -->
        <!-- KERNEL -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <!-- OBJETOS DE GENERAL -->
        <wellknown type="Azteca.Kernel.General.EstadoFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/EstadoFacade.rem" />
        <wellknown type="Azteca.Kernel.General.PersonaFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/PersonaFacade.rem" />
        <wellknown type="Azteca.Kernel.General.PoblacionFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/PoblacionFacade.rem" />
        <wellknown type="Azteca.Kernel.General.MunicipioFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/MunicipioFacade.rem" />
        <wellknown type="Azteca.Kernel.General.DateManagerFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/DateManagerFacade.rem" />
        <wellknown type="Azteca.Kernel.General.FormatManager, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/FormatManager.rem" />
        <wellknown type="Azteca.Kernel.General.FormatoTipoFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/FormatoTipoFacade.rem" />
        <wellknown type="Azteca.Kernel.General.PaisFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/PaisFacade.rem" />
        <wellknown type="Azteca.Kernel.General.AppEventLogFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/AppLogFacade.rem" />
        <!--OBJETOS PARA MANEJO DE MAIL-->
        <wellknown type="Azteca.Kernel.Mail.RemitenteFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/RemitenteFacade.rem" />
        <wellknown type="Azteca.Kernel.Mail.SMTPServerFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/SMTPServerFacade.rem" />
        <!-- OBJETOS DE SEGURIDAD -->
        <wellknown type="Azteca.Kernel.Security.EmpresaFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/EmpresaFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.FormaFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/FormaFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.GrupoFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/GrupoFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.ModuloFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/ModuloFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.PoliticaFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/PoliticaFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.ProcesoFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/ProcesoFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.PropiedadFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/PropiedadFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.SucursalFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/SucursalFacade.rem" />
        <wellknown type="Azteca.Kernel.Security.UsuarioFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/UsuarioFacade.rem" />
        <!-- OBJETOS DE ESTRUCTURA DE NEGOCIO -->
        <wellknown type="Azteca.Kernel.BusinessStructure.WorkflowFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/WorkflowFacade.rem" />
        <wellknown type="Azteca.Kernel.BusinessStructure.TipoDocumentoFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/TipoDocumentoFacade.rem" />
        <wellknown type="Azteca.Kernel.BusinessStructure.StatusFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/StatusFacade.rem" />
        <wellknown type="Azteca.Kernel.Configuration.ConfigurationFacade, Azteca.Kernel" url="http://www.aztecasoftware.com.mx/Pixkua/ConfigurationFacade.rem" />
        <!--  ***********************  -->
        <!--  ***** P I X K U A *****  -->
        <!--  ***********************  -->

        <!-- TESORERIA -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Tesoreria.BancoFacade, Azteca.Tesoreria" url="http://www.aztecasoftware.com.mx/Pixkua/BancoFacade.rem"/>

        <!-- COMPRAS -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Compras.ProveedorFacade, Azteca.Compras" url="http://www.aztecasoftware.com.mx/Pixkua/ProveedorFacade.rem" />
        <wellknown type="Azteca.Business.Compras.ComprobanteFiscalFacade, Azteca.Compras" url="http://www.aztecasoftware.com.mx/Pixkua/ComprobanteFiscalFacade_Compras.rem" />
        <wellknown type="Azteca.Business.Compras.ZonaCompraFacade, Azteca.Compras" url="http://www.aztecasoftware.com.mx/Pixkua/ZonaCompraFacade.rem" />

        <!-- CONTABILIDAD -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Contabilidad.AddendaFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/AddendaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.CertificadoFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/CertificadoFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ComprobanteFiscalFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/ComprobanteFiscalFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ContabilizadorDocumentosFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/ContabilizadorDocumentosFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.CuentaFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/CuentaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.DivisaFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/DivisaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.EntidadFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/EntidadFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ImporteFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/ImporteFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ImpuestoFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/ImpuestoFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.PolizaPerfilFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/PolizaPerfilFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.RACFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/RACFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.SerieFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/SerieFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.VistaContableFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/VistaContableFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.SATFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/SATFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.SucursalConfigFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/SucursalContabilidadConfigFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.TimbradorFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/TimbradorFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.NotaFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/NotaFacade.rem" />
        <wellknown type="Azteca.Business.Contabilidad.ConceptoNotaFacade, Azteca.Contabilidad" url="http://www.aztecasoftware.com.mx/Pixkua/ConceptoNotaFacade.rem" />        
        <!-- CUSTOMIZE -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Customize.RemoteService, Azteca.Customize" url="http://www.aztecasoftware.com.mx/Pixkua/RemoteService.rem" />
        <!-- INVENTARIO -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Inventario.AlmacenFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/AlmacenFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.AreaFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/AreaFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.ArticuloStockFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/ArticuloStockFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.ConceptoFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/ConceptoFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.TipoUnidadMedidaFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/TipoUnidadMedidaFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.TurnoFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/TurnoFacade.rem" />
        <wellknown type="Azteca.Business.Inventario.UnidadMedidaFacade, Azteca.Inventario" url="http://www.aztecasoftware.com.mx/Pixkua/UnidadMedidaFacade.rem" />
        <!-- VENTAS -->
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <wellknown type="Azteca.Business.Ventas.ArticuloFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/ArticuloFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ClienteFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/ClienteFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.GrupoClasificacionesFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/ClasificacionesVentasFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.EstructuraComercialFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/EstructuraComercialFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.FormaPagoFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/FormaPagoFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.MarcaFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/MarcaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.RegionFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/RegionFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ServicioFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/ServicioFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.TipoVentaFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/TipoVentaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.UnidadNegocioFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/UnidadNegocioFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ZonaVentaFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/ZonaVentaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.VentaFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/VentaFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.PresentacionFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/PresentacionFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.CajaFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/CajaVentasFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.VendedorFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/VendedorFacade.rem" />
        <wellknown type="Azteca.Business.Ventas.ListaPreciosFacade, Azteca.Ventas" url="http://www.aztecasoftware.com.mx/Pixkua/ListaPreciosFacade.rem" />
      </client>
    </application>
  </system.runtime.remoting>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DgieWSPort" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FuncionesGeneralesFacBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FuncionesGeneralesFacBinding1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IwcfRecepcion" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsTimbradoSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsTimbradoSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WsServiciosPortBinding" />
        <binding name="WsEmisionTimbradoPortBinding" closeTimeout="00:02:00" sendTimeout="00:02:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.banxico.org.mx:80/DgieWSWeb/DgieWS" binding="basicHttpBinding" bindingConfiguration="DgieWSPort" contract="Banxico.DgieWSPort" name="DgieWSPort" />
      <endpoint address="http://201.120.57.165:81/facturacion/wsdl/timbrev32.php" binding="basicHttpBinding" bindingConfiguration="FuncionesGeneralesFacBinding" contract="DigitalFactura.Timbrar.FuncionesGeneralesFacPortType" name="FuncionesGeneralesFacPort" />
      <endpoint address="http://201.120.57.165:81/facturacion/wsdl/timbre_cancela.php" binding="basicHttpBinding" bindingConfiguration="FuncionesGeneralesFacBinding1" contract="DigitalFactura.Cancelar.FuncionesGeneralesFacPortType" name="FuncionesGeneralesFacPort1" />
      <endpoint address="https://cfdi.facturadorelectronico.com/wstimbrado/timbrado.asmx?WSDL" binding="basicHttpBinding" bindingConfiguration="wsTimbradoSoap"  contract="FacturadorElectronico.wsTimbradoSoap" name="wsTimbradoSoap" />
      <endpoint address="http://test.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc/secure" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRecepcion" contract="PAX.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion" />
      <endpoint address="http://wsprod1.facturehoy.com/CFDI/WsServicios?wsdl" binding="basicHttpBinding" bindingConfiguration="WsServiciosPortBinding" contract="Certus.Servicios.WsServicios" name="WsServiciosPort" />
      <endpoint address="http://wsprod1.facturehoy.com/CFDI/WsEmisionTimbrado?wsdl " binding="basicHttpBinding" bindingConfiguration="WsEmisionTimbradoPortBinding" contract="Certus.Timbrado.WsEmisionTimbrado" name="WsEmisionTimbradoPort" />
      <endpoint address="http://cfdi.azurewebsites.net/service.asmx"
          binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
          contract="AztecaSoftwareCFDI.ServiceSoap" name="ServiceSoap" />

    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>