body {
}

.PanelOptionImage
{
    vertical-align: middle;
    text-align: center;
}

.PanelOptionImage img
{
    width: 72px;
    height: 72px;
}

.PanelOptionText
{
    text-align:center;
}

.PanelOptionText a:link
{    
    text-decoration: none;
}

td.OptionsList
{
    width:1000px;
    vertical-align:top;
}

td.PanelInfo
{
    width:200px;
}